html 
    head 
        title="Ver articulos"
    body
        form(id="form")
            label="Nombre" 
            input(type="text" name="name")
            label="descripcion" 
            input(type="text" name="descripcion")
            label="precio" 
            input(type="text" name="precio")
            label="imagen" 
            input(type="file" name="imagen")
            input(type="submit" value="Enviar")
            
    script(src="/imagenes/js/input.js") 